.sl-image > .sl-figure {
  margin: 1rem 0;

  > a {
    width: 100%;
  }
}

.sl-image.sl-alignment-start {
  display: flex;
  justify-content: flex-start;
}

.sl-image.sl-alignment-center {
  display: flex;
  justify-content: center;
}

.sl-image.sl-alignment-end {
  display: flex;
  justify-content: flex-end;
}

.sl-image.sl-alignment-justify {
  display: flex;
  justify-content: stretch;
}


.sl-image__img {
  display: block;
  width: 100%;
  object-fit: cover;
}
