.sl-video {
  > figure.sl-figure {
    margin: 0;

    > div {
      > * {
        max-width: 100%;
      }

      > iframe {
        display: block;
        margin: auto;

        aspect-ratio: 16/9;

        border: none;

        background-color: transparent;
      }
    }
  }
}

.sl-video--width-auto {
  iframe {
    width: initial;
  }
}

.sl-video--width-justify, .sl-video--width-max, .sl-video--width-fixed {
  iframe {
    width: 100%;
  }
}

.sl-video.sl-alignment-start {
  > figure.sl-figure {
    display: flex;
    justify-content: flex-start;
  }
}

.sl-video.sl-alignment-center {
  > figure.sl-figure {
    display: flex;
    justify-content: center;
  }
}

.sl-video.sl-alignment-end {
  > figure.sl-figure {
    display: flex;
    justify-content: flex-end;
  }
}

.sl-video.sl-alignment-justify {
  > figure.sl-figure {
    display: flex;
    justify-content: stretch;
  }
}

